<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Static Assets" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|json|css|png|gif|jpg|jpeg|js))" />
          <action type="Rewrite" url="/{R:1}"/>
        </rule>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="RedirectToHTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="Permanent" />
        </rule>		
		<rule name="RedirectWwwToNonWww" stopProcessing="false">
		  <match url="(.*)" />
		  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
		  </conditions>
		  <action type="Redirect" url="https://{C:2}{REQUEST_URI}" redirectType="Permanent" />
		</rule>
      </rules>
    </rewrite>
    <staticContent>
        <mimeMap fileExtension=".webp" mimeType="image/webp" />
        <clientCache cacheControlMode="NoControl" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>